/***** BASE STYLES *****/


body {
	font-family: 'montserrat', sans-serif;
	max-width: 1200px;
	margin: 0 auto;
}

p {
	font-size: 16px;
	line-height: 25px;
}

/***** GRID *****/

.full-width {
	width: 1200px;
	margin: 0 auto;
}
.half-width {
	width: 600px;
	float: left;
}
.third-width {
	width: 33%;
	height: auto;
	float: left;
	border: 1px solid #dedbdc;
	border-left-style: none;
}

/***** HEADER *****/

#header {
	height: 500px;
}

h1 {
	size: 30px;
	text-align: left;
	width: auto;
	float: left;
	padding: 15px 0;
}

.emphasis-1 {
	color: #77a466
}

nav {
	float: right;
	padding: 45px 0;
}

nav ul li {
	display: inline-block;
}

nav ul li a {
	text-decoration: none;
	font-size: 14px;
	color: #77a466;
	padding-left: 20px;
	font-weight: bold;
	
}

header img {
	width: 1200px;
	border-bottom: 3px solid #77a466;
	border-top: 3px solid #77a466;
}
/***** ABOUT *****/

#about {
	height: 175px;
	padding: 10px 0;
}

h2 {
	font-size: 18px;
	color: #77a466;
	margin-bottom: 5px;
}

/***** ASIDE *****/

#aside{
	height: 210px;
}

#aside h3 {
	font-size: 12px;
	line-height: 25px;
	font-weight: bold;
	padding-top: 30px;
}

#aside ul li {
	list-style-type: none;
	font-weight: normal;
	color: #77a466;
	padding-top: 27px;
	margin-left: -40px;
	font-size: 16px;
}

#aside p {
	font-size: 16px;
	font-weight: normal;
	width: 320px;
	padding-left: 20px;
}

.emphasis-2 {
	padding-left: 20px;
}

/***** FOOTER *****/

footer {
	width: 100%;
	height: 50px;
	margin: 0 auto;
	clear: both;
	text-align: center;
}

.emphasis-3{
	font-family: "Wisdom Script", cursive;
	text-transform: lowercase;
	color: #77a466;
	size: 16px;
}